{erl_opts, [
  {parse_transform, lager_transform},
  {parse_transform, ms_transform},
  debug_info]}.
{deps, [

  {bxqj_pb, {git, "https://git.blizzmi.com/erly/bxqj_pb.git", {branch, "develop"}}},
  {base, {git, "https://git.blizzmi.com/erly/base.git", {branch, "master"}}}
]}.

{shell, [
  {apps, [erly_room]},
  {config, "config/erly_room.config"}
]}.


{dist_node, [
  {setcookie, 'duorengongwan'},
  {name, 'erly_room@127.0.0.1'}
]
}.